.about {
    margin: 50px;
    justify-content: center;
    width: 90%;
    height: auto;
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about .aboutLeft {
    height: 100%;
    flex: 50%;
    background-size: cover;
    padding-left: 20px;
    justify-content: center;
}

.about .aboutRight img {
    height: 80vh;
    width: 55vh;
    display: flex;
}
  
.about .aboutRight {
    height: 100%vh;
    flex: 50%;
    display: flex;
    justify-content: center;
}
  
.about .aboutLeft h1 {
    color: #6b1c3b;
    font-weight: 10;
    font-size: 50px;
}

.about .aboutLeft text {
    font-weight: 4;
    font-size: 16px;
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .about .aboutRight {
      display: none;
    }
  }
