.Navbar {
    list-style-type: none;
    background: #E8D9C2;
    height: 30px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 5px;
    
}

/* links inside the navbar*/
.Navbar li:link {
    align-items: center;
    display: flex;
    color: #694536;
    padding: 14px;
    text-decoration: none;

}

/* visited link*/
.Navbar li:visited {
    color: white;
    text-decoration: none;
}

/* hover over link*/
.Navbar li:hover {
    color: white;
    text-decoration: none;
}

/* active/current link*/
.Navbar li:active {
    background-color: #E0C2A5;
    text-decoration: none;
}